
body {
    background: black;
    color: white;
}

.navbar {
    height: 4rem;
    border-bottom: 1px solid grey;
}

.nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-item {
    padding-right: 15px;
}

.item-link {
    text-decoration: none;
    color: white;
}

#brand-logo {
    position: absolute;
    top: 0;
    left: 1rem;
    filter: invert(0);
}

.carousel-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel {
    width: 60%;
    margin: 0 auto;
    position: relative;
    border: 2px solid red;
}


#hsi-grid {

}